name: Python CI

on:
  push:
    branches: [ master, lab03 ]
    paths:
      - 'app_python/**'
      - '.github/workflows/python-ci.yml'
  pull_request:
    paths:
      - 'app_python/**'

jobs:
  test-build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.13"
        cache: "pip"

    - name: Install dependencies
      run: |
        pip install -r app_python/requirements.txt
        pip install -r app_python/requirements-dev.txt

    - name: Lint
      run: ruff check app_python

    - name: Run tests
      run: pytest app_python/tests

    - name: Generate version
      run: echo "VERSION=$(date +%Y.%m.%d)" >> $GITHUB_ENV

    - name: Login Docker
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Snyk Scan
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      run: snyk test --file=app_python/requirements.txt
        
    - name: Build and Push Docker Image
      uses: docker/build-push-action@v6
      with:
        context: ./app_python
        push: true
        tags: |
          maksimmenshikh/devops-info-service:${{ env.VERSION }}
          maksimmenshikh/devops-info-service:latest
